.game{
    display: block;
    position: relative;
    height: calc(100vh - 80px);
    width: 100%;
}
.fishCounter{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
}
.fishCounter #fishCount{
    font-size: 3em;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
}


/* Pause Menu Styles */
.pauseMenu{
    position: absolute;
    text-align: center;
    z-index: 2;
    width:100%;
    height:100%;
    background-color: #3333334f;
}
.pauseMenuButtons {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    gap: 4em;
    z-index: 2;
}
.pauseMenuButtons.active{
    display: flex;
}
.pauseMenuButtons button {
    padding: 10px 20px;
    font-size: 3em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}
.pauseMenuButtons button:hover {
    background-color: rgba(152, 255, 174, 0.76);
}
#startButton {
    font-size: 4em;
    font-weight: bolder;
}
.pauseMenu h2 {
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
}

/* Death Screen Styles */
.deathScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 8em;
    z-index: 3;
}
.deathScreen h2 {
    font-size: 12em;
    color: rgb(138, 20, 20);
    background-color: #333333b2;
    margin: 0;
    font-family: 'Papyrus', serif;
    text-shadow: #cb1919 2px 2px 0px, #cb1919 -2px -2px 0px, #cb1919 -2px 2px 0px, #cb1919 2px -2px 0px;
    border-radius: 10px;
    padding: 20px;
}
.deathScreen button {
    padding: 15px 30px;
    font-size: 3em;
    cursor: pointer;
    background-color: #6b0707;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    animation-name: growAndShrink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.deathScreen button:hover {
    background-color: rgb(196, 16, 16);
    color: #fff;
}
.deathScreen.active {
    display: flex;
    animation-name: fadeIn;
    animation-duration: 1s;
}
#highScoreText, #currentScoreText {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

#currentScoreText {
    font-size: 3em;
    font-weight: bold;
}

#highScoreText {
    font-size: 2em;
    font-weight: bold;
}


/**win screen styles */
.winScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8em;
    z-index: 3;
}
.winScreen.active {
    display: flex;
    animation-name: fadeIn;
    animation-duration: 2s;
}
.winScreen h2 {
    font-size: 12em;
    color: rgb(20, 138, 20);
    margin: 0;
    font-family: 'Papyrus', serif;
    text-shadow: #14cb14 2px 2px 0px, #14cb14 -2px -2px 0px, #14cb14 -2px 2px 0px, #14cb14 2px -2px 0px;
    border-radius: 10px;
    padding: 20px;
}
.winScreen button {
    padding: 15px 30px;
    font-size: 3em;
    text-align: center;
    width: 6em;
    cursor: pointer;
    background-color: #0b6b07;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    animation-name: growAndShrink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.winScreenButtons{
    display: flex;
    gap: 4em;
    flex-direction: column;
    align-items: center;
}
.winScreen button:hover {
    background-color: rgb(16, 196, 16);
    color: #fff;
}
.winScreen h3 {
    font-size: 6em;
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Papyrus', serif;
    text-shadow: #14cb14 2px 2px 0px, #14cb14 -2px -2px 0px, #14cb14 -2px 2px 0px, #14cb14 2px -2px 0px;
    border-radius: 10px;
    padding: 20px;
}
.winScreen h4 {
    font-size: 4em;
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Papyrus', serif;
    text-shadow: #cb3314 2px 2px 0px, #cb3314 -2px -2px 0px, #cb3314 -2px 2px 0px, #cb3314 2px -2px 0px;
    border-radius: 10px;
    padding: 20px;
}

/**Options Menu Styles */
.volume-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-size: 3em;
    color: #fff;
}
.brightness-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-size: 3em;
    color: #fff;
}   

input[type="range"] {
    -webkit-appearance: none;
    width: 120px;
    height: 4px;
    border-radius: 2px;
    background: #2d2d2d;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
.optionsMenu {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    z-index: 3;
    background-color: #000000f3;
    padding: 6em;
    padding-top: 2em;
    border-radius: 15px;
}
.optionsMenu.active {
    display: flex;
}
.optionsMenu h2 {
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
    margin-top: 0;
}
.optionsMenu button {
    padding: 10px 20px;
    margin-top: 5em;
    font-size: 3em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}
.optionsMenu button:hover {
    background-color: rgba(152, 255, 174, 0.76);
}

/** Animations */

@keyframes growAndShrink {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}